body{
    background-image:url(Bandera_de_España.png) ;

}

h1 {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
}

ul {
    list-style-type: none; /* Quitar viñetas */
    padding: 0; /* Quitar espaciado extra */
    margin-left: 50px;
}

li {
    background-color: yellow;
    width: 200px;
    text-align: center;
}

a {
    display: block; /* Asegurar que el enlace ocupe todo el ancho del <li> */
    color: blue;
    padding: 10px; /* Espaciado interno del enlace */
    text-decoration: none;
}

li a:hover {
    background-color: blue;
    color: orange;
}
